@model ProyectoWeb.Models.TbMovimientos

<div>
    <h4>TbMovimientos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concepto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetIva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetIsr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetIsr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ieps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ieps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpuestosLocales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpuestosLocales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutaArchivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutaArchivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCuentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCuentaNavigation.IdCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresasNavigation.IdEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFormPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFormPagoNavigation.IdFormaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMetodoPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMetodoPagoNavigation.IdMetodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMonedasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMonedasNavigation.IdMoneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonasNavigation.IdPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProyectoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProyectoNavigation.IdProyectos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoComprobanteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoComprobanteNavigation.IdComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngresoEgresoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngresoEgresoNavigation.IdIe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNavigation.IdStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Folio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
