@model IEnumerable<ProyectoWeb.Models.TbPersonas>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rfc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rfc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusNavigation.IdStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPersona">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPersona">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPersona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
